@import url('https://fonts.googleapis.com/css?family=VT323');

body {
    background-color: #ff89ff;

    max-width: 800px;
    margin: 0 auto;

    text-align: center;

    font-family: "VT232", monospace;
    font-size: 22px;
}

#nav {
    background-color: #e6e64e;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

